# Datos crudos y procesados: Importante NO subir nunca datos clínicos
*.fastq
*.fastq.gz
*.bam
*.bam.bai
*.sam
*.vcf.gz
*.vcf.gz.tbi
*.fa
*.fai
*.mmi
*.dict

# Logs y temporales
*.log
tmp/

# Conda
.conda/
